* text=auto eol=lf

*.java text diff=java
*.kt   text diff=java
*.ts   text
*.tsx  text
*.css  text
*.html text
*.md   text
*.yml  text
*.yaml text
*.json text

# Binary
*.png  binary
*.jpg  binary
*.gif  binary
*.ico  binary
*.jar  binary
gradle/wrapper/gradle-wrapper.jar binary
